#content-wrapper{
background-color: #AAAAAA;
width: 500px;
height: 500px;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
margin-bottom: 15px;
}

#input-wrapper{
  width: 500px;
  margin-left:auto;
  margin-right: auto;
  position: relative;
  height: 100px;
  text-align: center;
  font-size: 40px;
}

#input-wrapper-content{
  position:absolute;
  width: 100%;
  bottom:0;
  text-align: center;
}

.colored-square{
  float:left;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}
